.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 7vw;
    background-color: rgba(248,232,217);
    border-bottom: 2px solid rgba(252,196,124);
    box-shadow: 0 2px 20px rgba(252,196,124,.2);
}

.headerbar{
    display: none;
}

.header__logo img{
    width: 7rem;
}

.header__bar{
    display: none;
}

.header__nav ul{
    display: flex;
    align-items: center;
}
.header__nav ul li{
    padding: 0 15px;
    font-size: 1.3rem;
    font-weight: bold;

}
.header__nav ul li:hover{
    color: rgb(253,57,8);
    text-decoration: none !important;
}

.header__account{
    flex: 0.1;
}

@media only screen and (max-width: 768px){
    .header .header__nav, .header .header__account{
        display: none;
    }
    .header__bar{
        display: block;
        cursor: pointer;
    }
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        right: -100%;
        transition: all 0.5s;
        background-color: rgba(252,231,216);
    }
    .headerbar.open {
        right: 0;
    }
    .headerbar .header__account, .headerbar .header__nav{
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    .header__bar .fa-xmark, .header__bar .fa-bars{
        display: block;
        top: 3.8vh;
        right: 5vw;
        position: absolute;
        font-size: 2rem;
    }


    .headerbar .header__nav ul{
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
    }
    .headerbar .header__nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px rgb(252, 193, 169);
    }
    .headerbar .header__account{
        line-height: 40px;
        margin-top: 105px;
        background-color: rgb(255, 223, 200);
        padding: 15px;
    }
    .headerbar .header__account ul{
        justify-content: space-between;
    }
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
}